.call_to_action {
  background: none;
  padding-block: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  position: relative;
  article {
    p {
      margin-top: 0.5rem;
    }
  }
  div {
    width: 420px;
    display: flex;
    justify-content: center;
    button {
      border: none;
      outline: none;
      border: 2px solid #ffffff;
      font-weight: 600;
      border-radius: 50px;
      padding: 1rem 2rem;
      background: transparent;
      color: #ffffff;
      text-wrap: nowrap;
      /* margin-right: 5rem; */
    }
  }
  img {
    position: fixed;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -5;
    top: 0;
    left: 0;
  }
  .call_to_action__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: -2;
  }
  @media screen and (width<1200px) {
    flex-direction: column;
    article {
      text-align: center;
      p {
        margin-block: 2rem;
      }
    }
  }
}
