nav {
  /* position: relative; */
  z-index: 100;
  background: none;
  padding-inline: 0;
  width: 100%;

  padding-block: 1.5rem;
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0.9; */
    z-index: -1;
    background-color: var(--primary-color);
  }
  .nav {
    width: 100%;
    padding-inline: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      text-transform: uppercase;
      color: var(--light-color);
      font-weight: 500;
      font-size: 2rem;
    }
    ul {
      color: var(--light-color);
      display: flex;
      align-items: center;
      gap: 2.5rem;
      li {
        list-style: none;
        @media screen and (width<1200px) {
          display: none;
        }
        a {
          color: var(--light-color);
          font-size: 1rem;
          font-weight: 400;
          text-decoration: none;
          transition: 0.5s;
          &:hover {
            color: var(--secondary-color);
          }
        }
      }

      .get_started {
        button {
          background-color: var(--secondary-color);
          color: var(--light-color);
          padding: 0.7rem 1.5rem;
          border: none;
          outline: none;
          border-radius: 1rem;
        }

        @media screen and (width<1200px) {
          display: block;
        }
      }
      .menu {
        display: none;
        p {
          font-size: 2rem;
          cursor: pointer;
        }
        @media screen and (width<1200px) {
          display: block;
        }
      }
      @media screen and (width<1200px) {
        gap: 2rem;
      }
    }

    @media screen and (width<1200px) {
      padding-inline: 1rem;
    }
  }
}

nav .nav__links.active {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  background-color: var(--primary-color);
  padding: 1rem;
  z-index: 99;
  width: 80%;
  right: 0;
  height: 100%;
  justify-content: center;
}

nav .nav__links.active li {
  display: block;
  margin-bottom: 1rem;
}

nav .nav__links.active li a {
  /* font-size: 1.2rem; */
  font-size: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: -1;
    background-color: var(--primary-color);
  }
}
