.why_us {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: var(--default-color);
  display: flex;
  padding-inline: 5rem;
  flex-direction: row;
  article {
    h2 {
      font-weight: 400;
      font-size: 2.2rem;
      color: var(--primary-color);
    }
    p {
      font-size: 1.1rem;
      transition: 0.5s;
    }
    ul {
      margin-top: 2rem;
      li {
        padding-left: 1.5rem;
        h4 {
          font-weight: 500;
          transition: 0.5s;
          span {
            margin-right: 1rem;
            color: var(--secondary-color);
          }
          &:hover {
            color: var(--secondary-color);
          }
        }
        list-style: none;
        background-color: #ffffff;
        padding-block: 1.2rem;
        margin-top: 1rem;
        box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.1);
      }
    }
  }
  & > div {
    display: flex;
    justify-content: end;
    align-items: center;
    img {
      width: 65%;
      height: 90%;
    }
    @media screen and (width<1200px) {
      justify-content: center;
      img {
        width: 80%;
      }
    }
  }
  @media screen and (width<1200px) {
    padding-inline: 1rem;
  }
  @media screen and (width<1000px) {
    flex-direction: column-reverse;
  }
}
